html
    head
        meta(name="viewport" content="width=device-width user-scalable=no")
        block title
            title Trombinoscope
        meta(name="author" content="Jules LAURENT")
        meta(name="og:title" content="Trombinoscope | INGESUP B3")
        meta(name="og:description" content="LE trombinoscope.")
        link(rel="stylesheet" href="css/style.css")
        block styles

    body
        div.container
            block content