html
    head
        meta(name="viewport" content="width=device-width user-scalable=no")
        block title
            title Hello world !
        link(rel="stylesheet" href="css/style.css")
        block styles

    body
        div.container
            block content